@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,500&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #060A24;
  font-size: 1.6rem;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
}

h3, h4, h5, h6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 500;
}

p, a {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.8rem;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  h1, h2 {
    font-size: 6.4rem;
    line-height: 6.2rem;
  }
  h3, h4, h5, h6 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .container {
    width: 85%;
    margin: auto;
    overflow: initial;
  }
}

.nav {
  position: absolute;
  top: 100%;
  left: -5%;
  width: 110%;
  z-index: 2;
  background-color: #0000EC;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.nav ul {
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav a {
  color: white;
  text-decoration: none;
  opacity: 0;
  padding: 1.4rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background-color: white;
    position: static;
    width: 100%;
  }
  .nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: auto;
  }
  .nav li {
    margin-left: 4rem;
  }
  .nav a {
    opacity: 1;
    color: #060A24;
  }
}

.toggle {
  display: none;
}

.toggle__label {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle__label span, .toggle__label span::after, .toggle__label span::before {
  display: block;
  height: 2px;
  background-color: black;
  width: 20px;
  position: relative;
}

.toggle__label span::before, .toggle__label span::after {
  position: absolute;
  content: '';
}

.toggle__label span::before {
  top: 6px;
}

.toggle__label span::after {
  bottom: 6px;
}

.toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.toggle:checked ~ nav a {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .toggle__label {
    display: none;
  }
}

header {
  height: 44px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  header {
    height: 88px;
  }
  header img {
    width: 36px;
    height: auto;
  }
}

.hero {
  padding: 10vw 0 1.6rem 0;
}

.hero h1 {
  width: 90%;
}

.hero__desc {
  color: #060A24;
}

.hero__desc--mobile {
  margin-top: 6vw;
}

.hero__desc--desktop {
  display: none;
}

.hero__button {
  font-family: 'IBMPlexMono-Medium',monospace;
  font-weight: 600;
  display: block;
  padding: .8em;
  text-align: center;
  width: 100%;
  line-height: 2.2rem;
  background-color: #00F3BB;
  margin-top: 10vw;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-left: 8vw;
  }
  .hero h1 {
    line-height: 8.4rem;
  }
  .hero__desc--mobile {
    display: none;
  }
  .hero__desc--desktop {
    display: block;
    padding-left: .5rem;
  }
  .hero__button {
    font-family: 'IBMPlexMono-Medium',monospace;
    font-weight: 600;
    display: block;
    padding: .8em;
    text-align: center;
    width: 100%;
    line-height: 2.2rem;
    background-color: #00F3BB;
    margin-top: 4vw;
    width: 25%;
    padding: .8em;
    line-height: 2.2rem;
  }
}

.episodes {
  position: relative;
  color: white;
}

.episodes h2 {
  font-size: 3.6rem;
  margin-top: 22%;
  margin-bottom: 5%;
}

.episodes::before {
  content: '';
  height: 120%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0000A3), to(#0000FF));
  background-image: linear-gradient(90deg, #0000A3, #0000FF);
  position: absolute;
  width: 100vw;
  top: -5%;
  z-index: -5;
  -webkit-transform: skew(0, -6deg);
          transform: skew(0, -6deg);
}

.episodes__audios iframe {
  margin-bottom: .6em;
  width: 100%;
  height: 232px;
}

@media only screen and (min-width: 768px) {
  .episodes h2 {
    font-size: 4.8rem;
    margin-top: 12%;
    padding-left: 6rem;
  }
  .episodes::before {
    top: -15%;
    height: 130%;
  }
  .episodes__audios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .episodes__audios iframe {
    margin-bottom: 2em;
    width: 45%;
  }
}

@media only screen and (min-width: 1000px) {
  .episodes h2 {
    margin-left: 11%;
  }
}

.phone img {
  width: 100%;
  height: auto;
  margin-top: 2em;
}

.phone h2 {
  margin-top: 1.4rem;
}

.phone p {
  margin-top: 1.4em;
}

@media only screen and (min-width: 768px) {
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .phone h2 {
    font-size: 3.6rem;
    margin-top: 3rem;
  }
  .phone p {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  .phone img {
    width: 30%;
  }
  .phone__info-block {
    width: 40%;
    margin: 0;
  }
}

@media only screen and (min-width: 900px) {
  .phone h2 {
    font-size: 4.8rem;
  }
  .phone p {
    font-size: 1.6rem;
  }
  .phone__info-block {
    width: 36%;
  }
}

.invitados {
  margin-top: 12%;
  width: 100%;
}

.invitados h2 {
  margin-left: 1.6rem;
  margin-bottom: 1rem;
}

.invitados__images-box {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invitados img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 500px) {
  .invitados h2 {
    margin-left: 15%;
    margin-bottom: 3.6rem;
  }
  .invitados__images-box {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .invitados img {
    width: 33.3%;
  }
}

@media only screen and (min-width: 768px) {
  .invitados {
    margin-top: 2%;
  }
}

.temas h2 {
  margin-top: 15%;
}

.temas ul {
  text-align: center;
}

.temas__item {
  margin-top: 15%;
}

.temas__item__title {
  margin-top: .4em;
}

@media only screen and (min-width: 768px) {
  .temas h2 {
    font-size: 4.8rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 11%;
  }
  .temas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .temas__item {
    text-align: center;
    margin: 1em;
    width: 20%;
  }
  .temas__item__title {
    margin: 0;
  }
}

.novedades {
  width: 100%;
  min-height: 340px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0000A3), to(#0000FF));
  background-image: linear-gradient(90deg, #0000A3, #0000FF);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.novedades__title {
  color: white;
  width: 60%;
  margin: 10% auto 0 auto;
}

.novedades__button {
  font-family: 'IBMPlexMono-Medium',monospace;
  font-weight: 600;
  display: block;
  padding: .8em;
  text-align: center;
  width: 100%;
  line-height: 2.2rem;
  background-color: #00F3BB;
  margin: 3em auto;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .novedades {
    width: 100%;
    -webkit-clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
    min-height: 500px;
  }
  .novedades__title {
    font-size: 4.8rem;
    margin-top: 5%;
  }
  .novedades__button {
    width: 25%;
    padding: .8em;
    line-height: 2.8rem;
  }
}

.footer {
  max-width: 80%;
  margin: auto;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer p {
  padding-left: 1.3em;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer img {
  width: 16px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .footer {
    min-height: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer ul {
    width: 40%;
  }
}
/*# sourceMappingURL=index.css.map */