@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,700;1,500&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #060A24;
  font-size: 1.6rem;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
}

h3, h4, h5, h6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

p, a {
  font-family: 'IBM Plex Mono', monospace;
}

p {
  line-height: 2.2rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2.8rem;
}

ul {
  list-style: none;
}

.container {
  width: 96%;
  margin: auto;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  h1, h2 {
    font-size: 6.4rem;
    line-height: 6.2rem;
  }
  h3, h4, h5, h6 {
    font-size: 4.8rem;
    line-height: 3.2rem;
  }
  .container {
    width: 85%;
    margin: auto;
    overflow: initial;
  }
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0000EC;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.nav ul {
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav a {
  color: white;
  text-decoration: none;
  opacity: 0;
  padding: 1.4rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background-color: white;
    position: static;
    width: 100%;
  }
  .nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: auto;
  }
  .nav li {
    margin-left: 4rem;
  }
  .nav a {
    opacity: 1;
    color: #060A24;
  }
}

.toggle {
  display: none;
}

.toggle__label {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle__label span, .toggle__label span::after, .toggle__label span::before {
  display: block;
  height: 2px;
  background-color: black;
  width: 20px;
  position: relative;
}

.toggle__label span::before, .toggle__label span::after {
  position: absolute;
  content: '';
}

.toggle__label span::before {
  top: 6px;
}

.toggle__label span::after {
  bottom: 6px;
}

.toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.toggle:checked ~ nav a {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .toggle__label {
    display: none;
  }
}

header {
  height: 44px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  header {
    height: 88px;
  }
  header img {
    width: 36px;
    height: auto;
  }
}

.hero {
  padding: 10vw 0 1.6rem 1.6rem;
}

.hero h1 {
  width: 90%;
}

.hero__desc {
  color: #060A24;
}

.hero__desc--mobile {
  font-size: 1.4rem;
  margin-top: 6vw;
}

.hero__desc--desktop {
  display: none;
}

.hero__cta-button {
  margin-top: 10vw;
  width: 100%;
  font-family: 'IBMPlexMono-Medium',monospace;
  font-weight: 600;
  display: block;
  padding: .8em;
  text-align: center;
  line-height: 2.2rem;
  background-color: #00F3BB;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-left: 8vw;
  }
  .hero h1 {
    line-height: 8.4rem;
  }
  .hero__desc--mobile {
    display: none;
  }
  .hero__desc--desktop {
    font-size: 1.6rem;
    display: block;
  }
  .hero__cta-button {
    margin-top: 4vw;
    width: 20%;
    padding: .8em;
    line-height: 2.2rem;
  }
}

.episodes {
  position: relative;
}

.episodes h2 {
  margin-top: 22%;
}

.episodes::before {
  content: '';
  height: 120%;
  background-color: blue;
  position: absolute;
  width: 100vw;
  top: -5%;
  z-index: -5;
  -webkit-transform: skew(0, -6deg);
          transform: skew(0, -6deg);
}
/*# sourceMappingURL=index.css.map */