// El archivo [_general.scss] contiene una configuración inicial de estilos y
// todos los estilos que se comparten en la gran mayoría de elementos.


// ------------------------------------------------
//                      Initial Config
// ------------------------------------------------

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}


// ------------------------------------------------
//                          Headings
// ------------------------------------------------


h1,h2{
    font-size:3.2rem;
}
h3,h4,h5,h6{
    font-size:2.4rem;
}
