
.episodes{
    position: relative;
    h2{
        margin-top: 22%;
    }
    &::before{
    content: '';
    height: 120%;
    background-color: blue;
    position: absolute;
    width: 100vw;
    top: -5%;
    z-index: -5;
    transform: skew(0,-6deg);
    }
}




