


// ------------------------------------------------
//             colors

$color-primary: #0000EC;
$color-accent : #00F3BB;
//-------
$color-primary-linear2: #0000A3;
$color-primary-linear1: #0000FF;
//-------
$color-text-dark: #060A24;
$color-text-white: #fff;

// ------------------------------------------------
//             margin & Padding

$margin-left-titles: 5%;