

.temas{
    &__title{
        margin-top: 15%;
    }
    &__list{
        text-align: center;
    }
    &__card{
        margin-top: 15%;
        &__title{
            margin-top: .4em;
        }
    }
}



@media only screen and (min-width : 600px){
    .temas{
        &__title{
            font-size: 4.8rem;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 11%;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 90%;
            margin: auto;
            align-items: end;
        }
        &__card{
            text-align: center;
            margin:1em;
            width: 30%;
            padding: 32px 24px;
            perspective: 1000px;
            &__title{
                margin:0;
            }
            &:hover{
                border: 1px solid #eee;
                border-radius: 4px;
                box-shadow: 0 4px 8px  rgba(0,0,0,.2),0 0 40px rgba(0,0,0,.2);
            }
        }
    }
}


@media only screen and (min-width:920px){
    .temas{
        &__card{
            width: 20%;
        }
    }
}