@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


/* ========== GENERAL STYLES ============================ */

*{
    font-family: 'IBM Plex Mono', monospace;
}

ul{
    display: inline-flex;
    list-style: none;
}

/*  ==============   HEADER STYLES ======================= */

header{
    min-height: 24em;
    margin: 0 100px 0 100px;
}

header img{
    margin-top: 12px;
}

nav{
    min-height: 80px;
    display: inline;
}

nav li{
    margin-left: 3.3%;
}

nav ul{
    display: inline-flex;   
    justify-content: space-around;
    float: right;
}


#showCaseContainer{
    margin: 92px 0 0 92px;
}

#dot{
    color: blue;
    font-size: 46px;
}













#SocialMediaLinksContainer ul{
    float: right;
}

#SocialMediaLinksContainer img{
    width:20px;
}