

.temas{
    h2{
        margin-top: 15%;
    }
    ul{
        text-align: center;
    }
    &__item{
        margin-top: 15%;
        &__title{
            margin-top: .4em;
        }
    }
}

@media only screen and (min-width : 768px){

    .temas{
        h2{
            font-size: 4.8rem;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 11%;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 80%;
            margin: auto;
            align-items: end;
        }
        &__item{
            text-align: center;
            margin:1em;
            width: 20%;
            &__title{
                margin:0;
            }
        }
    }
}