
@import 'logo';
@import 'nav-bar';
@import 'hamburguer';

header{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

@media only screen and (min-width:768px){
    header{
        height: 88px;
    }
}