.nav{
    // nav
    &__menu-box{
        // display: none;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        width: 100%;
        height: 22.4rem;
        background-color: $color-primary;
        display: flex;  
        flex-direction: column;
        justify-content: space-around;
        // nav__menu-box
            a{
                color: $color-text-white;
                padding-left: 1.6rem;
                font-size:1.6rem;
            }
    }  
}

@media only screen and (min-width:768px){
    .nav{
        &__menu-box{
        position: static;
        width: 500px;
        height: auto;
        background-color: white;
        display: flex;  
        flex-direction: row;
        justify-content: space-around;
            a{
                color: $color-text-dark;
                padding-left: 1.6rem;
                font-size:1.6rem;
                letter-spacing: 0;
            }   
        }   
    }
}
