


// la nav-bar es la lista de links que aparecen al presionar el hamb menu
.nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
    ul{
        height: 224px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    a{
        color: white;
        text-decoration: none;
        opacity: 0;
        padding: 1.4rem;
        transition: opacity 300ms ease-in-out;
    }
}



@media only screen and (min-width :768px){
    .nav{
        transform: scale(1,1);
        background-color: white;
        position: static;
        width: 100%;
        ul{
            flex-direction: row;
            justify-content: flex-end;
            height: auto;
        }
        li{
            margin-left: 4rem;
        }
        a{
            opacity: 1;
            color: $color-text-dark;
        }
    }
}