.invitados{
    margin-top: 12%;
    width: 100%;
    &__title{
        margin-left: 1.6rem;
        margin-bottom: 1rem;
    }
    &__grid-view{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    &__img{
        width: 100%;
        height: auto;
        &:hover{
            background-color: black;
            filter: brightness(.2);
            transition: 200ms;
            position: relative;
        }
    }
}

@media only screen and (min-width:500px){
    .invitados{
        &__title{
            margin-left: 15%;
            margin-bottom: 3.6rem;
        }
        &__grid-view{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__img{
            width: 33.3%;
        }
    }
}

@media only screen and (min-width:768px){
    .invitados{
        margin-top: 2%;
    }
}