.phone{
    min-height: 100vh;
    &__img{
        width: 100%;
        height: auto;
        margin-top: 2em;
    }
}

.info-block{
        &__title{
        margin-top: 1.4rem;
        }
        &__description{
            margin-top: 1.4em;
        }
    }

@media only screen and (min-width:768px){
    .phone{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &__img{
            width: 30%;
        }
        
        &__info-block{
            width: 60%;
            margin: 0;
        }
    }
    .info-block{
        &__title{
            font-size: 4.8rem;
        }
        &__description{
            font-size: 1.6rem;
            margin-top: 2rem;
        }   
    }
}

@media only screen and (min-width:1000px){
    .phone__info-block{
            width: 36%;
        }
    .info-block{
        &__title{
            width:100%;
            font-size: 4.8rem;
            margin-bottom: .8em;
        }
        &__description{
            font-size: 1.6rem;
            margin-top: 1rem;
        }   
    }
   
}