.phone{
    img{
        width: 100%;
        height: auto;
        margin-top: 2em;
    }
    h2{
        margin-top: 1.4rem;
    }
    p{
        margin-top: 1.4em;
    }
}

@media only screen and (min-width:768px){
    .phone{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h2{
            font-size: 3.6rem;
            margin-top: 3rem;
        }
        p{
            font-size: 1.4rem;
            margin-top: 1rem;
        }
        img{
            width: 30%;
        }
        &__info-block{
            width: 40%;
            margin: 0;
        }
    }
}

@media only screen and (min-width:900px){
    .phone{
        h2{
            font-size: 4.8rem;
        }
        p{
            font-size: 1.6rem;
        }
        &__info-block{
            width: 36%;
        }
    }
    
}